/*copyright mathieu CHATAIGNER, please send me a message if you want to use this template*/
/*default*/
body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;background:transparent}
/*
body{line-height:1;}
*/
body{margin:0;}

/*containers*/
div#outConteneur{margin-left:auto;margin-right:auto;}
div#conteneur{position:relative;display:inline;float:left;}
ul{list-style:none;padding-left:0%;margin:0;}

/*margin padding and size*/
.block{display:inline;position:relative;float:left;}
.clear{clear:both;visibility:hidden;display:block;overflow:hidden;width:0;}
.innerBlock{padding: 0px 0px 0px 0px;}
.enteteBlock{padding: 0 10px 0px 10px;}
th{width:135px;vertical-align:top;text-align:left;}
#entete{margin:0 0 0 0; }
#enteteLeft{float:left;margin-top:auto;margin-bottom:auto;}/*width:62%;}*/
#enteteRight{float:right;margin-top:auto;text-align:right;}/*width:38%;}*/
#content{margin:0px 0px 0px 0px;}
#content h2{padding-top:0;margin-top:0;margin-bottom:10px;padding-bottom:0px;border-width:2px;border-bottom-style:solid;font-weight:normal;}
#title{padding-left: 50px;padding-right: 50px;}
#subtitle{padding-left: 50px ;padding-right: 50px;}
.head{text-align:left;}
.data{margin-bottom:8px;}
table{margin-top:10px;}

p{margin-top:0;padding-top:0;margin-bottom:0;padding-bottom:0;}

/*div*/
.single{clear:both;padding-left:5%;padding-right:5%;}
.center{text-align:center;}
.left{margin-left:0;}
.right{margin-right:0;}
.subject{font-weight:bold;}
.address{font-style:italic;}
.footer{text-align:center;font-family:Calibri,sans-serif;}


/*colors*/
/*.colored,#content h2,.head{color:#3F82B9;} / *#819FF7;}*/

/*fonts*/
ul{font-family:Arial,Helvetica,sans-serif;}
h1{font-family:Arial,Helvetica,sans-serif;}
h2{font-family:Arial,Helvetica,sans-serif;}
h3{font-family:Arial,Helvetica,sans-serif;}
table{line-height:1.3;}
table,.footer{font-size:0.9em;}
p,table,.head,.data{font-family:Calibri,sans-serif;}
p,table,.data{text-align:justify;}
#entete h2,#entete h3{font-style:italic;padding-top:3px;}
#entete h2{font-size:1.3em;}
#entete h3{font-size:1.0em;}
#title{font-family:Verdana,sans-serif;font-style:normal;font-weight:normal;font-size:2em;font-variant:small-caps;}
#subtitle{font-size:1.5em;font-weight:normal;font-style:italic;}
a{text-decoration:none;}
a:hover,a:focus {text-decoration:underline;}

/*other*/
#contact {display:none;visibility:hidden;float:left;position:absolute;top:0px;left:25px;background-color:#FF0000;width:50px;padding-top:290px;}


@page {  
 size: auto;
 margin-left: 7%;  
 margin-right: 7%;  
 margin-top: 7%;  
 margin-bottom: 7%;  
} 
